
@{
    Layout = "_Layout";
    ViewData["Title"] = "Engage the World";
}

<div id="page-container">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <img style="height: auto; max-height: 60vh; margin: 25px auto;" class="img-responsive" src="@Url.Content("~/images/DSC_0033.jpg")" />
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #d9d1b3;">
    <div class="container-fluid sub_banner">
        <div class="row" style="margin: 15px 0 15px;">
            <div class="col-sm-6 col-md-4">
                <p class="text-center">
                    <i style="font-size: 6rem;" class="fa fa-book" aria-hidden="true"></i>
                    <h3 class="text-center">Community Service</h3>
                    <p class="text-center">
                        <a href="@Url.Action("Service", "Engage")">
                            See Service Opportunities
                        </a>
                    </p>
                </p>
            </div>
            <div class=" col-sm-6 col-md-4">
                <p class="text-center">
                    <i style="font-size: 6rem;" class="fa fa-credit-card" aria-hidden="true"></i>
                    <h3 class="text-center">Tithes and Offerings</h3> 
                    <p class="text-center">
                        <a href="https://revolutionumc.cloverdonations.com/kcrevolution/">
                            Contribute Here
                        </a>
                    </p>
                </p>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
                <p class="text-center">
                    <i style="font-size: 6rem;" class="fa  fa-pencil-square-o" aria-hidden="true"></i>
                    <h3 class="text-center">Contact Us</h3>
                    <p class="text-center">
                        <a href="@Url.Action("Contact", "Engage")">Contact Us</a>
                    </p>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row banner_pod">
        <div class="col-sm-7 col-sm-offset-1" style="font-size: 1.5rem;">
            <div class="text-left">
                <h3 style="font-size: 3.5rem; line-height: 1.5; font-weight: bold;">
                    At Revolution, we expect our members to be regularly active in some meaningful service opportunity.
                </h3>
                <p>
                    For some, that means serving a meal every month at Neighbor to Neighbor. For others, that means organizing our
                    5K Run/Walk for El Salvador. We also encourage people to find their own ways to serve, based on their schedules,
                    personal interests, etc. Revolution members have given thousands of hours and dollars to lots of local agencies, 
                    including Veronica's Voice, Habitat for Humanity - Kansas City, ReStore KC, Harvester's, Jackson County Foster Care, 
                    Gillis Home for Boys, and other awesome places.
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="@Url.Content("~/images/DSC_0059.jpg")" />
        </div>
    </div>
</div>
</div>