@{
    ViewData["Title"] = "Connect";
    Layout = "_Layout";
}
<div id="page-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <img style="height: 450px; margin: 25px auto;" class="img-responsive" src="@Url.Content("~/images/community_header.jpg")" />
            </div>
        </div>
    </div>
    <div class="container-fluid sub_banner" style="background-color: #d9d1b3;">
        <div class="row" style="margin: 15px 0 15px;">
            <div class=" col-sm-6 col-md-3 col-md-offset-2">
                <p class="text-center">
                    <i style="font-size: 6rem;" class="fa fa-calendar" aria-hidden="true"></i>
                    <h3 class="text-center">Calendar</h3>
                    <p class="text-center">
                        <a asp-area="Connect" asp-controller="Connect" asp-action="Calendar">See Current Events</a>
                    </p>
                </p>
            </div>
            <div class="col-sm-6 col-md-3">
                <p class="text-center">
                    <i style="font-size: 6rem;" class="fa fa-users" aria-hidden="true"></i>
                    <h3 class="text-center">Small Groups</h3>
                <p class="text-center">
                    <a asp-area="Connect" asp-controller="Connect" asp-action="SmallGroups">Connect With our Small Groups</a>
                </p>
                </p>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-3 col-md-offset-0">
                <p class="text-center">
                    <i style="font-size: 6rem;" class="fa  fa-play-circle" aria-hidden="true"></i>
                    <h3 class="text-center">RevKids</h3>
                <p class="text-center">
                    <a asp-area="Connect" asp-controller="Connect" asp-action="RevKids">Get your Children Involved</a>
                </p>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1" style="font-size: 1.5rem;">
                <div class="text-left">
                    <h3 style="font-size: 4rem; line-height: 1.5; font-weight: bold;">With our worship, we bring our doubts, fears, and wonder to God with one heart and voice.</h3>
                </div>
                <hr />
                <p>
                    Casual, hospitable atmosphere‚ the parking is easy, and our signs (or a friendly greeter) will point you toward the sanctuary.
                    The pastors usually wear jeans, but you can wear whatever you want. Our sermons are researched, thoughtful, and grounded in scripture.
                    In worship we learn how to pattern our lives after the life of Jesus Christ.
                </p>
                <p>
                    Kids are welcome in worship. We call the noise children make 'holy noise,' and we're sure it makes God smile to see kids playing in his house.
                    We have a designated Kids' Corner in the sanctuary, and the kids can either hang out there, or they can find a seat with you. About 15-20 into
                    our worship service, all the children are invited to go to their classes, where they sing, learn, and grow together in age-appropriate settings.
                    If your child would rather stay in the sanctuary with you, that's fine, too. See more about our children's programming.
                </p>
                <p>
                    For infants and toddlers, a spacious, professional nursery is available.
                </p>
                <p>
                    We have a full band of creative musicians (we're always looking for more), and they do a mix of ancient and modern music.
                </p>
                <p>
                    The service is planned to be an hour long - about a half hour for music, prayer, etc., and another half hour for the message.
                    After worship, people usually hang out in the sanctuary for coffee and conversation. If you have any other questions, check out
                    our FAQ's, or send us an email. We hope you'll come this Sunday and experience Revolution for yourself.
                </p>
            </div>
        </div>
    </div>
</div>