@model DOTNETWEB_KCREVOLUTION.Areas.Connect.Models.ViewModels.RevKidsViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "RevKids";
}
<div id="page-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <img style="height: 450px; margin: 25px auto;" class="img-responsive" src="@Url.Content("~/images/community_header.jpg")" />
            </div>
        </div>
    </div>
    <div class="container-fluid sub_banner" style="background-color: #d9d1b3;">
        <div class="row" style="margin: 15px 0 15px;">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <p class="text-center">
                    <i style="font-size: 6rem;" class="fa  fa-play-circle" aria-hidden="true"></i>
                    <h3 class="text-center">RevKids</h3>
                <p class="text-center">
                    <a asp-area="Connect" asp-controller="Connect" asp-action="RevKids">Get your Children Involved</a>
                </p>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row equal_height">
            <div class="col-md-4">
                <div class="sermon_pod">
                    <div class="img_pod">

                    </div>
                    <div class="text_pod">
                        <h4>Sunday Check-in</h4>
                        <h5>Ever Weekend</h5>
                        <p>

                            The Nursery (ages 0-2) is located on the 2nd floor at the end of the hall, just upstairs from the Sanctuary.
                            RevKids (ages 3-12) is located on the 3rd floor. Our goal is to provide a comfortable and safe place where children
                            can come and experience God's love, so parents are asked to personally check-in their children on Sunday mornings in
                            this space beginning at 11:15. Each child gets a sticker name tag with a corresponding parent ID number on it. First time
                            families and visitors will be asked to fill out a registration form and will receive similar temporary name tags.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sermon_pod">
                    <div class="img_pod">

                    </div>
                    <div class="text_pod">
                        <h4>Nursery (Babies - 3 Yrs)</h4>
                        <h5>Sundays</h5>
                        <p>
                            The Nursery is available during the service for the babies and toddlers to learn about their world through play. Little ones are 
                            able to build a faith foundation through loving care while toddlers can explore God's love and how to love one another through simple 
                            themes, songs and stories at their own pace.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sermon_pod">
                    <div class="img_pod">

                    </div>
                    <div class="text_pod">
                        <h4>Rotations (Pre-School - 12 Yrs)</h4>
                        <h5>Sundays</h5>
                        <p>
                            We currently offer three age-appropriate RevKids classrooms for our older children: Our Preschool-Kindergarten room, 1st-3rd grade room 
                            and Tween (4th grade to middle school) room. Our RevKids program uses Spark Lectionary curriculum (implemented with our own unique style, of course!) 
                            that intentionally connects the stories we explore in RevKids to the themes, scripture and sermon in Revolution's Sunday morning worship service.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sermon_pod">
                    <div class="img_pod">

                    </div>
                    <div class="text_pod">
                        <h4>Service</h4>
                        <h5>Year Round</h5>
                        <p>
                            At Revolution we believe that loving the world and serving others is a crucial part of living out our faith and that children can, and should, actively 
                            participate in showing God's love to the world by serving others.  In addition to special RevKids service opportunities throughout the year, children and families 
                            are always welcome and encouraged to participate in Revolution Serve Days and other church-wide service activities.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sermon_pod">
                    <div class="img_pod">

                    </div>
                    <div class="text_pod">
                        <h4>Children in Worship</h4>
                        <h5>5th Sundays</h5>
                        <p>
                            Once a quarter, on the last weekend of months that have five Sundays, instead of a separate RevKids experience, children join their friends and family in the sanctuary 
                            to fully participate in the worship service. Be sure to have your children pick up a special bulletin just for them and rest assured that your children's voices are expected 
                            and welcome throughout the worship service, just like every week. The nursery is still open on 5th Sundays for babies, toddlers and young preschoolers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sermon_pod">
                    <div class="img_pod">

                    </div>
                    <div class="text_pod">
                        <h4>Children in Worship</h4>
                        <h5>Children's Corner</h5>
                        <p>
                            Children of all ages are always welcome to stay in the worship service with their families. Special children's bulletins, colored pencils and crayons are available at the hospitality station each week.
                            Young children are also welcome to visit The Children’s Corner in the back of the sanctuary where they can color and play while the service is going on. Adult-sized chairs are also available in the 
                            Children's Corner for parents and caregivers to have a comfortable place to rock and feed their babies.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>